[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Exec=/usr/bin/whosthere
Name=whosthere
GenericName=whosthere
Comment=A WhatsApp client
Icon=whosthere
